Repository The-OpenROAD-Project/OpenROAD, pull requests merged in 2023-01, with the labels that each got.

#2714 Python wrapper for pdn and core set of regression tests
  include/ord/Design.h
  src/CMakeLists.txt
  src/Design.cc
  src/Main.cc
  src/odb/src/swig/python/dbtypes.i
  src/pdn/include/pdn/PdnGen.hh
  src/pdn/src/CMakeLists.txt
  src/pdn/src/PdnGen-py.i
  src/pdn/test/asap7_taper.py
  src/pdn/test/core_grid.py
  src/pdn/test/core_grid_with_rings.py
  src/pdn/test/core_grid_with_routing_obstructions.py
  src/pdn/test/existing.py
  src/pdn/test/helpers.py
  src/pdn/test/macros.py
  src/pdn/test/max_width.py
  src/pdn/test/min_width.py
  src/pdn/test/offgrid.py
  src/pdn/test/pdn_aux.py
  src/pdn/test/power_switch.py
  src/pdn/test/repair_vias.py
  src/pdn/test/report.py
  src/pdn/test/reset.py
  src/pdn/test/ripup.py
  src/pdn/test/widthtable.py
Labels: enhancement, pdn

#2730 Undo change to dbtypes.i and add %clear directive to PdnGen-py.i
  src/odb/src/swig/python/dbtypes.i
  src/pdn/src/PdnGen-py.i
Labels: bug

#2737 A few code cleanups in RCX as a first OpenROAD PR.
  .gitignore
  src/rcx/include/rcx/ext.h
  src/rcx/include/rcx/extRCap.h
  src/rcx/src/ext.cpp
  src/rcx/src/extBenchDB.cpp
  src/rcx/src/extSpef.cpp
  src/rcx/src/extmain.cpp
  src/rcx/src/extprocess.cpp
  src/rcx/src/netRC.cpp
Labels: rcx

#2713 Build and upload deb packages for Debian and Ubuntu
  .github/workflows/github-actions-build-deb-package.yml
  .github/workflows/github-actions-test-installer.yml
  debian/changelog
  debian/control
  debian/openroad.install
  debian/rules
  debian/source/format
  etc/DependencyInstaller.sh
  etc/DockerHelper.sh
Labels: enhancement

#2747 ppl: fix counting of assigned pins to sections
  src/ppl/include/ppl/IOPlacer.h
  src/ppl/src/IOPlacer.cpp
  src/ppl/src/IOPlacer.tcl
  src/ppl/src/Netlist.h
  src/ppl/test/add_constraint10.defok
  src/ppl/test/add_constraint10.ok
  src/ppl/test/add_constraint10.py
  src/ppl/test/add_constraint10.tcl
  src/ppl/test/add_constraint_error2.ok
  src/ppl/test/add_constraint_error2.tcl
  src/ppl/test/regression_tests.tcl
Labels: bug, ppl

#2744 [rcx] ext2dBox translation unit: encapsulate/test
  src/drt/test/gc_test.tcl
  src/odb/include/odb/util.h
  src/rcx/include/rcx/ext2dBox.h
  src/rcx/include/rcx/extRCap.h
  src/rcx/src/CMakeLists.txt
  src/rcx/src/ext2dBox.cpp
  src/rcx/src/extBench.cpp
  src/rcx/src/extmeasure.cpp
  src/rcx/test/ext2dBoxTest.cpp
  src/rcx/test/rcx_unit_test.tcl
  src/rcx/test/regression_tests.tcl
  test/helpers.tcl
Labels: rcx

#2733 global router: this warning seems almost like an error
  src/grt/src/GlobalRouter.cpp
Labels: grt

#2732 ppl: add assert when pin assignment goes off the rails
  src/ppl/src/IOPlacer.cpp
Labels: ppl
