Repository The-OpenROAD-Project/OpenROAD, pull requests merged in 2025-02, with the labels that each got.

#6671 dst: dst_lib linkable
  src/dst/CMakeLists.txt
  src/dst/include/dst/Distributed.h
  src/dst/src/Distributed.cc
  src/dst/src/MakeDistributed.cc
Labels: dst

#6782 New VT names for equivalent cells
  src/rsz/include/rsz/Resizer.hh
  src/rsz/src/Resizer.cc
  src/rsz/test/report_equiv_cells.ok
  src/rsz/test/report_equiv_cells.tcl
  test/sky130hd/sky130hd_std_cell_vt.lef
  test/sky130hd/sky130hd_vt.tlef
Labels: not-reproducible

#6721 drt: addUniqueInst
  src/drt/src/io/io.h
  src/drt/src/pa/FlexPA_unique.cpp
  src/drt/src/pa/FlexPA_unique.h
Labels: drt
