Repository The-OpenROAD-Project/OpenROAD, pull requests merged in 2025-04, with the labels that each got.

#6964 add blockage destroy for symmetry with obstruction
  src/gui/src/dbDescriptors.cpp
  src/gui/src/dbDescriptors.h
  src/gui/src/search.cpp
  src/gui/src/search.h
  src/odb/include/odb/db.h
  src/odb/include/odb/dbBlockCallBackObj.h
  src/odb/src/db/dbBlockage.cpp
  src/odb/test/cpp/CallBack.h
  src/odb/test/cpp/TestCallBacks.cpp
Labels: gui, odb

#6889 drt: pa far from edge
  src/drt/src/pa/FlexPA_acc_point.cpp
  src/drt/test/ispd18_sample.defok
  src/drt/test/ndr_vias2.defok
  test/aes_sky130hd.metrics_limits
  test/ibex_sky130hd.metrics_limits
  test/jpeg_sky130hd.metrics_limits
Labels: drt

#6901 Cts change blockage merging
  src/cts/src/HTreeBuilder.cpp
  src/cts/src/TreeBuilder.cpp
  src/cts/test/CMakeLists.txt
  src/cts/test/check_buffers_blockages_merge.def
  src/cts/test/check_buffers_blockages_merge.ok
  src/cts/test/check_buffers_blockages_merge.tcl
Labels: cts

#6866 drt: deleteInst() and inst_to_unique refactoring
  src/drt/src/db/obj/frInst.h
  src/drt/src/pa/FlexPA.cpp
  src/drt/src/pa/FlexPA.h
  src/drt/src/pa/FlexPA_acc_pattern.cpp
  src/drt/src/pa/FlexPA_acc_point.cpp
  src/drt/src/pa/FlexPA_unique.cpp
  src/drt/src/pa/FlexPA_unique.h
Labels: drt

#6880 drt: updated PA error messages
  src/drt/src/pa/FlexPA.h
  src/drt/src/pa/FlexPA_acc_pattern.cpp
  src/drt/src/pa/FlexPA_acc_point.cpp
  src/drt/test/ndr_vias1.ok
  src/drt/test/ndr_vias2.ok
  src/drt/test/ndr_vias3.ok
  src/drt/test/ta_ap_aligned.ok
  src/grt/test/pin_access2.ok
  src/rcx/test/names.ok
Labels: drt

#6916 drt: computeInstRows
  src/drt/src/pa/FlexPA.cpp
  src/drt/src/pa/FlexPA.h
  src/drt/src/pa/FlexPA_acc_pattern.cpp
  src/drt/src/pa/FlexPA_row_pattern.cpp
Labels: drt
