Repository The-OpenROAD-Project/OpenROAD, pull requests merged in 2025-06, with the labels that each got.

#7082 drt: incremental PA
  src/drt/include/triton_route/TritonRoute.h
  src/drt/src/DesignCallBack.cpp
  src/drt/src/TritonRoute.cpp
  src/drt/src/io/io.h
  src/drt/src/pa/FlexPA.cpp
  src/drt/src/pa/FlexPA.h
  src/drt/src/pa/FlexPA_acc_pattern.cpp
  src/drt/src/pa/FlexPA_unique.h
  src/grt/CMakeLists.txt
  src/grt/src/GlobalRouter.cpp
Labels: drt

#7541 drt: simplification of genPinAccessCostBound return
  src/drt/src/db/obj/frAccess.h
  src/drt/src/pa/FlexPA.cpp
  src/drt/src/pa/FlexPA.h
  src/drt/src/pa/FlexPA_acc_point.cpp
Labels: drt

#7565 odb: refactoring of repeated code in each parser
  src/odb/src/lefin/ArraySpacingParser.cpp
  src/odb/src/lefin/CellEdgeSpacingTableParser.cpp
  src/odb/src/lefin/CellEdgeSpacingTableParser.h
  src/odb/src/lefin/KeepOutZoneParser.cpp
  src/odb/src/lefin/MaxSpacingParser.cpp
  src/odb/src/lefin/MetalWidthViaMapParser.cpp
  src/odb/src/lefin/MinCutParser.cpp
  src/odb/src/lefin/WidthTableParser.cpp
  src/odb/src/lefin/boostParser.h
  src/odb/src/lefin/lefLayerPropParser.h
  src/odb/src/lefin/lefMacroEdgeTypeParser.cpp
  src/odb/src/lefin/lefMacroPropParser.h
  src/odb/src/lefin/lefTechLayerAreaRuleParser.cpp
  src/odb/src/lefin/lefTechLayerCornerSpacingParser.cpp
  src/odb/src/lefin/lefTechLayerCutClassParser.cpp
  src/odb/src/lefin/lefTechLayerCutEnclosureParser.cpp
  src/odb/src/lefin/lefTechLayerCutSpacingParser.cpp
  src/odb/src/lefin/lefTechLayerCutSpacingTableParser.cpp
  src/odb/src/lefin/lefTechLayerEolExtensionParser.cpp
  src/odb/src/lefin/lefTechLayerEolKeepOutRuleParser.cpp
  src/odb/src/lefin/lefTechLayerForbiddenSpacingRuleParser.cpp
  src/odb/src/lefin/lefTechLayerMinStepParser.cpp
  src/odb/src/lefin/lefTechLayerPitchRuleParser.cpp
  src/odb/src/lefin/lefTechLayerRectOnlyParser.cpp
  src/odb/src/lefin/lefTechLayerRightWayOnGridOnlyParser.cpp
  src/odb/src/lefin/lefTechLayerSpacingEolParser.cpp
  src/odb/src/lefin/lefTechLayerSpacingTablePrlParser.cpp
  src/odb/src/lefin/lefTechLayerTwoWiresForbiddenSpcRuleParser.cpp
  src/odb/src/lefin/lefTechLayerTypeParser.cpp
  src/odb/src/lefin/lefTechLayerWrongDirSpacingParser.cpp
  src/odb/src/lefin/parserUtils.h
Labels: odb

#7625 odb: new top-level command allowing easier creation of blockages. Also including tests.
  src/odb/README.md
  src/odb/src/swig/tcl/odb.tcl
  src/odb/test/BUILD
  src/odb/test/CMakeLists.txt
  src/odb/test/create_blockage.def
  src/odb/test/create_blockage.defok
  src/odb/test/create_blockage.ok
  src/odb/test/create_blockage.tcl
Labels: odb

#7676 gui: change placement, pin, and power density heatmaps to use core ar…
  src/gui/include/gui/heatMap.h
  src/gui/src/heatMap.cpp
  src/gui/src/heatMapPinDensity.h
  src/gui/src/heatMapPlacementDensity.h
Labels: gui
